body {
  margin: 0;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgb(255 255 255 / 50%);
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.tempTitle {
  text-align: center;
  font-size: 2.5em;
  margin-top: 30px;
}