table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

tr {
    background-color: white;
}

thead tr {
    background-color: #282c34;
    color: #61dafb;
}

tr:nth-child(even) {
    background-color: #d9d9d9;
}

th,
td {
    padding: 6px;
    text-align: center;
}

td button {
    margin: 0;
    background: none;
    color: initial;
    display: inline;
    padding: 5px 8px;
    border-radius: 50%;
    width: initial;
    cursor: pointer;
    transition: 0.3s;
}

td button:hover {
    background-color: #3c3c3c;
    color: white;
    box-shadow: 0 0 4px #d6d6d6;
}

td button.green:hover {
    background-color: #3dbf23;
}

td button.red:hover {
    background-color: #bf2323;
}

td button:active {
    scale: 1.3;
}

tr td:last-child {
    white-space: nowrap;
}

.returnLink a {
    cursor: pointer;
    text-decoration: none;
    color: #61dafb;
}

button.returnLink {
    margin: 10px 0 0 0;
    width: initial;
    font-size: 1em;
    background: #282c34;
}

button.returnLink svg {
    position: relative;
    top: 3px;
    right: -2px;
}

.returnLink:hover a {
    text-decoration: underline;
}