@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

html {
  min-height: 100%;
}

body {
  direction: rtl;
  padding-bottom: 200px;
  background-color: #333;
}

* {
  font-family: 'Rubik', sans-serif !important;
}

h1 {
  text-align: center;
  color: white;
  margin: 16px;
}
