:root {
    --bg: #2782a0;
}

nav {
    background-color: var(--bg);
    margin: -8px -16px 16px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    background-color: var(--bg);
}

nav ul li a:hover {
    filter: brightness(1.2);
}