.display {
    text-align: center;
}

table {
    width: 100%;
    margin-top: 12px;
    border-collapse: collapse;
}

th {
    background-color: darkslateblue;
    color: white;
}

th, td {
    padding: 6px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: azure;
}