.display {
    text-align: center;
}

.display button {
    transition: 0.3s;
}

.display .active {
    scale: 1.1;
    filter: brightness(1.5);
    border-bottom: 3px solid #6c0051;
    border-top: 3px solid #6c0051;
}

table {
    width: 100%;
    margin-top: 12px;
    border-collapse: collapse;
}

th {
    background-color: darkslateblue;
    color: white;
}

th, td {
    padding: 6px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: azure;
}

.remove,
.save {
    margin: 0;
    transition: 0.3s;
    cursor: pointer;
}

.remove:hover,
.save:hover {
    scale: 1.5;
}

.remove {
    background: none;
}

.save {
    background: none;
    visibility: hidden;
}

.noData {
    font-size: 2em;
    color: gray;
    text-align: center;
}

.cardFrame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 12px;
}

.cardFrame .card {
    background: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 4px #00000036;
    margin: 0;
}

.cardFrame .card p {
    margin: 6px 0;
}

.max-age {
    border: 3px solid #1500b1;
}

.min-age {
    border: 3px solid #b1007c;
}